name: GitHub Snake Game

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate GitHub Contributions Snake Animations
        uses: Platane/snk@v3
        with:
          github_user_name: NguyenDinhTuanKhoa
          outputs: |
            dist/github-snake.svg?color_snake=#FF6600&color_dots=#ffffff,#c6f6c6,#7bc96f,#239a3b,#196127
            dist/github-snake-dark.svg?color_snake=#FF6600&color_dots=#ffffff,#c6f6c6,#7bc96f,#239a3b,#196127
            dist/ocean.gif?color_snake=#FF6600&color_dots=#ffffff,#c6f6c6,#7bc96f,#239a3b,#196127
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          commit_message: "Update snake animation [skip ci]"
